.Monitor {
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(175px, auto);
  padding: 15px;
}

.wrapper > div {
  border: 2px solid 11539e;
  border-radius: 5px;
  background-color: #0b3463;
  padding: 1em;
  color: white;
}

.header {
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 15px 15px 5px 15px;
}
