.Monitor {
  max-width: 1300px;
  height: 100vh;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(175px, auto);
  padding: 15px;
}

.wrapper > div {
  border: 2px solid 11539e;
  border-radius: 5px;
  background-color: #0b3463;
  padding: 1em;
  color: white;
}

.header {
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 15px 15px 5px 15px;
}

button {
  color: white;
  text-decoration: none;
  font-size: 14px;
  background-color: #03a5fc;
  padding: 10px 16px;
  margin: 6px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #7ad1ff;
}
